<div class="section-container proposal-section">
  <h2 class="section-title proposal-title">
    Master the <span class="proposal-accent">Language</span> with Our English
    Package!
  </h2>
  <div class="decoration sheet-left"></div>
  <div class="decoration sheet-right"></div>
  <div class="proposal-card-wrapper">
    <h3 class="proposal-card-title">Power of English</h3>
    <ul class="proposal-card-list">
      <li class="proposal-card-item">
        <div class="proposal-icon-wrapper">
          <svg class="proposal-icon" width="20" height="20">
            <use href="../public/img/icons.svg#icon-check"></use>
          </svg>
        </div>
        <p class="proposal-card-text">
          Dive into captivating lessons designed to stimulate your curiosity.
        </p>
      </li>
      <li class="proposal-card-item">
        <div class="proposal-icon-wrapper">
          <svg class="proposal-icon" width="20" height="20">
            <use href="../public/img/icons.svg#icon-check"></use>
          </svg>
        </div>
        <p class="proposal-card-text">
          Learn in a nurturing setting where every student's progress matters.
        </p>
      </li>
      <li class="proposal-card-item">
        <div class="proposal-icon-wrapper">
          <svg class="proposal-icon" width="20" height="20">
            <use href="../public/img/icons.svg#icon-check"></use>
          </svg>
        </div>
        <p class="proposal-card-text">
          Experience the satisfaction of real progress as your language skills
          and confidence grow with every session.
        </p>
      </li>
    </ul>
    <a href="" class="proposal-card-btn"> Leave an application </a>
  </div>
</div>
