:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --black: #121417;
  --green: #4dc274;
  --green_linear: rgb(77, 194, 116);
  --green_accent: #bee8cc;
  --light_green: #d4fde1;
  --gray: #f3f5f6;
  --grey_outline: rgba(18, 20, 23, 0.1);
  --grey_text: rgba(255, 255, 255, 0.5);
  --white_background: rgba(243, 245, 246, 1);
  --white: #ffffff;
}
